.busy-splash-modal {
    .busy-box {
        background: $modal-default-background;
        position: absolute;
        width: $ss-width;
        height: $ss-height;
        left: 45%;
        top: 45%;
        border: $modal-external-border;
        border-radius: $modal-default-border-radius;
        .busy-text {
            margin-top: 10px;
            font-size: $ss-font-size;
        }
        .busy-title {
            font-size: $ss-font-size;
        }
        .busy-icon {
            padding-top: 5px;
            width: 64px;
            height: 64px;
            font-size: 24px;
            vertical-align: baseline;
        }
    }
}