$version: '0.1.0';
$test-border: 1px dashed #f00;

/*Common*/
body {
    font-family: "Work Sans";
}

.test-border {
    border: $test-border;
}

.btn {
    border-radius: $default-border-radius;
}

@mixin flat-left-border {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

@mixin flat-right-border {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

@mixin flat-bottom-border {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

@mixin flat-top-border {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

@mixin default-border {
    border: 3px solid $default-border-colour;
}

.thin-border {
    @include default-border;
    border-width: 1px;
}

.modal-backdrop {
    &.in {
        opacity: 0.4;
    }
}

@mixin modal-base {
    width: $modal-default-width;
    height: $modal-default-height;
    margin: 20% auto 0px auto;
    background: $modal-default-background;
    border: $modal-external-border;
    padding: 0px !important;
    border-radius: $modal-default-border-radius;

    .ec-input-buttons,
    .modal-buttons-container {
        background: darken($modal-default-background, 5%);
        bottom: 10px;
        width: 100%;
        height: 50px;
        position: absolute;
        text-align: right;
        left: 0;
        bottom: 0;
        padding-right: 10px;
        padding-top: 10px;

        .btn {
            margin-left: 5px;
        }
    }

    .ec-modal-text,
    .modal-title {
        border-bottom: $default-border;
        width: 100%;
        padding-left: 5px;
    }
}