/*Built from Sass*/
$css-version: "0.5.1";

.css-version {
    content: $css-version;
}

@import "Standard.scss";
@import "Defaults.scss";
@import "Theme.scss";
@import "Common.scss";
@import "Mixins.scss";
@import "Embelishments.scss";
@import "BusyBox.scss";
@import "HelpControl.scss";
@import "InputPanel.scss";
@import "TextBox.scss";
@import "ListInput.scss";
@import "FormattedSelect.scss";
@import "WarningPanel.scss";
@import "Validator.scss";
@import "FormattedText.scss";
@import "ModalRequestor.scss";
@import "DataTable.scss";
@import "ModalInput.scss";
@import "Logo.scss";
@import "SocialMedia.scss";
@import "Header.scss";
@import "PanelledButtons.scss";
@import "BusySplash.scss";
@import "CollapsablePanel.scss";
@import "ModalHelp.scss";
@import "ModalPanel.scss";
@import "Captcha.scss";
@import "AutoSuggestions.scss";
@import "MapExtensions.scss";
@import "CaptchaImage.scss";
@import "IE_Overrides.scss";


/*Controls that do not require styling*/
.extended-clipboard {
    position: absolute;
    background: transparent;
    width: 0;
    height: 0;
    border: none;
    top: 0;
    left: 0;
}