@import "Defaults.scss";
$base-color-very-light: #fff;
$base-standard-dark: #555;
$base-standard-mid: mix($base-color-very-light, $base-standard-dark, 30%);
$base-standard-light: lighten($base-standard-dark, 50%);

.logo-main {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 200px 50px;
    background-position-y: 3px;
    width: 200px;
    height: 50px;
    border-radius: 25%;
    border: 1px solid lighten($base-standard-dark, 50%);

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}